---
layout: default
---
{% include mathjax.html %}
{% if site.show_excerpts and page.name == "index.html" %}
{% for page in paginator.posts %}
<body>
<head>
<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
</body>
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
  </header>
  {{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">read more »</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<footer>
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
{% endif %}
{% else %}
<article class="archive">
  {{ content }}
  {% for post in site.posts %}
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  {% endfor %}
</article>
{% endif %}
